# From LINE developer console
LINE_CHANNEL_SECRET=
LINE_CHANNEL_TOKEN=
LINE_CHANNEL_ID=

# Redis stores chatbot's conversation context among HTTP requests
REDIS_URL=redis://localhost:6379

# Chatbot server
PORT=5001

# Rollbar error logging
ROLLBAR_ENV=localhost

# Rollbar post_server_item, for chatbot & graphql
ROLLBAR_TOKEN=

# Rollbar post_client_item, for LIFF
ROLLBAR_CLIENT_TOKEN=

# This should match rumors-api's RUMORS_LINE_BOT_SECRET
APP_SECRET=CHANGE_ME

# Cofacst API URL
API_URL=https://cofacts-api.hacktabl.org/graphql

# Cofacts web page URL base
SITE_URL=https://cofacts.hacktabl.org

# Google drive
GOOGLE_CREDENTIALS=
GOOGLE_DRIVE_IMAGE_FOLDER=

# Google analytics ID
GA_ID=

# Block certain users by ID
USERID_BLACKLIST=

# LIFF URL for reason input
LIFF_URL=https://liff.line.me/1563196602-X6mLdDkW

# Facebook App ID for share dialog
FACEBOOK_APP_ID=719656818195367

# Process image messages or not
IMAGE_MESSAGE_ENABLED=false
MAX_IMAGE_PROCESS_NUMBER=3

# LIFF webpack-dev-server port (not used in production)
LIFF_DEV_PORT=8080

# Secret to sign and validate JWT
JWT_SECRET=secret

# MONGODB
MONGODB_URI=mongodb://root:root-test-password@localhost:27017
