//
// MDC Theme
// Ref: https://github.com/hperrin/svelte-material-ui/blob/master/site/src/theme/_smui-theme.scss
//

// Cofacts colors: https://www.figma.com/file/Xr80rEWwCrNks1uFIrGCG4/Cofacts-Colors
//
$mdc-theme-primary: #FFB600;
$mdc-theme-secondary: #333333;

$mdc-theme-background: #fff;
$mdc-theme-surface: #fff;

$mdc-theme-error: #FB5959;
